<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>交流群：383432579</title>
<link rel="shortcut icon" href="favicon.ico" />
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" type="text/css" href="__index__/css/base.css" />
<link rel="stylesheet" type="text/css" href="__index__/css/style.css" />
<link rel="stylesheet" type="text/css" href="__index__/css/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__index__/css/purebox.css" />
<link rel="stylesheet" type="text/css"
	href="__index__/css/quickLinks.css" />
<link rel="stylesheet" type="text/css" href="__index__/css/suggest.css" />
<link rel="stylesheet" type="text/css" href="__index__/css/select.css" />
<link rel="stylesheet" type="text/css" href="__index__/css/perfect-scrollbar.min.css" />
<script type="text/javascript" src="__index__/js/jquery-1.9.1.min.js"></script>
<!--  
<script type="text/javascript" src="__index__/js/jquery.json.js"></script>
<script type="text/javascript" src="__index__/js/transport_jquery.js"></script>
-->
<script type="text/javascript">
	//加载效果
	var load_cart_info = '<img src="__index__/img/load/loadGoods.gif" height="108" class="ml100">';
	var load_icon = '<img src="__index__/img/load/load.gif" width="200" height="200">';
</script>
</head>
<body>
	{include file="common/top" /}

	<div class="hot-sales">
		<div class="container">
			<div class="w w1390" style="margin-top: 24px;">
				<div class="selector">
					<div class="right-extra" rewrite=0>
						<div class="goods_list">
							<ul class="attr_father">
								<li class="s-line">
									<div class="s-l-wrap brand_img attr_list">
										<div class="s-l-tit brand_name_l">分类：</div>
										<div class="checkbox_items">
											{foreach $cates as $cate}
											<div class="checkbox_item">
												<input type="checkbox" {in name="cate.id" value="$conds.cates"}checked="checked"{/in}  
												name="cate[]" class="ui-checkbox" onClick="addCategory(this)"
												value="{$cate.id}" id="store-checkbox-{$cate.id}">   <!-- 注意id要加上cate.id来标识 -->
												<label class="ui-label" for="store-checkbox-{$cate.id}">{$cate.cateName}</label> 
											</div>
											{/foreach}
										</div>
									</div>
								</li>

								<li class="s-line">
									<dl class="s-l-wrap">
										<div class="s-l-tit filter_attr_name">价格：</div>
										<div class="s-l-value attr_son" style="padding-left: 0px;">
											<div class="price_auto fl">
												<div class="price_range">
													<a href="javascript:void(0);" onClick="setPrice(0, 9)">0&nbsp;-&nbsp;9</a>
												</div>
												<div class="price_range">
													<a href="javascript:void(0);" onClick="setPrice(10, 99)">10&nbsp;-&nbsp;99</a>
												</div>
												<div class="price_range">
													<a href="javascript:void(0);" onClick="setPrice(100, 999)">100&nbsp;-&nbsp;999</a>
												</div>
												<div class="price_range">
													<a href="javascript:void(0);" onClick="setPrice(1000, 4999)">1000&nbsp;-&nbsp;4999</a>
												</div>
												<div class="price_range">
													<a href="javascript:void(0);" onClick="setPrice(5000, 9999)">5000&nbsp;-&nbsp;9999</a>
												</div>
											</div>
											<div class="price_auto price_bottom fl">
												<input type="text" title="最低价" id="min" value="{$conds.minPrice}"
													placeholder="￥" class="price_class price_min"> <span
													class="price_class span_price_class">-</span> <input
													type="text" title="最高价" placeholder="￥" id="max" value="{$conds.maxPrice}"
													class="price_class price_max">
												<button class="price_ok price_class" 
													onClick="setPrice($('#min').val(), $('#max').val())">
													确定
												</button>
											</div>
									</dl>
								</li>

							</ul>
						</div>

					</div>
				</div>
				<div class="filter">
					<div class="filter-wrap">
						<div class="filter-sort">
							{assign name="field" value="$conds.sort[0]" /}
							{assign name="isDesc" value="$conds.sort[1] == 'desc' ? true : false" /}
							
							<a href="javascript:void(0);" onClick="setSort('salePrice', {$isDesc})">
							价格{eq name="field" value="salePrice"}<i class="iconfont icon-arrow-{eq name="isDesc" value="true"}down{else/}up{/eq}"></i>{/eq}</a>
							
							<a href="javascript:void(0);" onClick="setSort('saleCount', {$isDesc})">
							销量{eq name="field" value="saleCount"}<i class="iconfont icon-arrow-{eq name="isDesc" value="true"}down{else/}up{/eq}"></i>{/eq}</a>
							
							<a href="javascript:void(0);" onClick="setSort('onSaleTime', {$isDesc})">
							新品{eq name="field" value="onSaleTime"}<i class="iconfont icon-arrow-{eq name="isDesc" value="true"}down{else/}up{/eq}"></i>{/eq}</a>

						</div>
						<div class="filter-range">
							<div class="fprice">
								<form method="post" action="{:url('goods/list')}" class="sort"
									name="listform" id="listForm">
									{foreach $conds.cates as $cateId}
									<input type="hidden" name="cate[]" value="{$cateId}"/>
									{/foreach}
									
									<input type="hidden" name="minPrice" value="{$conds.minPrice}" id="minPrice" /> 
									<input type="hidden" name="maxPrice" value="{$conds.maxPrice}" id="maxPrice" /> 
									<input type="hidden" name="sort" value="{$field . ' ' . $conds.sort[1]}" id="sort"/>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="g-view w">
					<div>{$pageHtml}</div>
					<div class="goods-list" ectype="gMain" style="width: 100%;">
						<div class="gl-warp gl-warp-large">
							<ul>
								{foreach $goodsList as $goods}
								<li class="gl-item">
									<div class="gl-i-wrap" >
										<div class="p-img" >
											<a href="{:url('goods/index')}?id={$goods.id}" target="_blank"><img 
												src="__public__/{$goods.mainPic}" /></a>
										</div>

										<div class="p-lie">
											<div class="p-price">
												<em>¥</em>{$goods.salePrice}
											</div>
											<div class="p-num">
												已售<em>{$goods.saleCount}</em>件
											</div>
										</div>
										<div class="p-name">
											<a href="#" target="_blank">{$goods.goodsName}</a>
										</div>
										<div class="p-operate" style="display: flex;">
											<a href="#" class="choose-btn-coll" style="flex: 1;"><i
												class="iconfont icon-zan-alt"></i>收藏</a> 
											<a href="javascript:void(0);" onClick="addToCart({$goods.id})"
												style="flex: 1;"
												rev="__index__/img/0_thumb_G_1490174925807.jpg"
												data-dialog="addCart_dialog" data-divid="addCartLog"
												data-title="请选择属性" class="addcart"> <i
												class="iconfont icon-carts"></i>加入购物车
											</a>
										</div>

									</div>
								</li>
								{/foreach}									
							</ul>							
							<!-- 添加到购物车的动画 -->
							<div id="flyItem" class="fly_item">
								<img src="" width="40" height="40">
							</div>
						</div>
						
					</div>

				</div>

				{include file="common/cart" /}
				
				<div class="email_sub">
					<div class="attached_bg"></div>
					<div class="w1200">
						<div class="email_sub_btn">
							<input type="input" id="user_email" name="user_email"
								autocomplete="off" placeholder="请输入您的邮箱帐号"> <a href="#"
								onClick="add_email_list();" class="emp_btn">订阅</a>
						</div>
					</div>
				</div>

				{include file="common/footer" /}

				<!-- 
				<script type="text/javascript" src="__index__/js/utils.js"></script>

				<script type="text/javascript" src="__index__/js/jquery.SuperSlide.2.1.1.js"></script>
				<script type="text/javascript" src="__index__/js/common.js"></script>
				<script type="text/javascript" src="__index__/js/cart_common.js"></script>
				
				<script type="text/javascript" src="__index__/js/parabola.js"></script>
				<script type="text/javascript" src="__index__/js/shopping_flow.js"></script>
				<script type="text/javascript"
					src="__index__/js/cart_quick_links.js"></script>
				<script type="text/javascript"
					src="__index__/js/perfect-scrollbar.min.js"></script>

				<script type="text/javascript" src="__index__/js/jquery.purebox.js"></script>
				
				-->
				<script type="text/javascript">
					// 将商品添加到购物车
					function addToCart(goodsId) {
						//console.log("debug");
						
						$.ajax({
							type: "post",
							url: "{:url('cart/add')}",
							data: {
								goodsId: goodsId,
								count : 1
							},
							success: function(res) {
								//console.log(res);
								if (res.status) {
									alert('加入购物车成功');
								} else {
									alert('加入购物车失败' + res.msg);
								}
								
							}
						});
					}
					
					// 添加分类
					function addCategory(cateInput) { // 绝对不能写成this
						// 往隐藏表单中添加一个分类条目
						if ($(cateInput).is(':checked')) {
							$("#listForm").append("<input type=hidden name=cate[] value= "+ $(cateInput).val() + " />");
						} else {
							//console.log('删除');
							$("#listForm").children("input[value=" + $(cateInput).val() + "]").remove();
						}
						// 提交表单
						$("#listForm").submit();
					}
					
					// 检查最低价格和最高价格
					function checkPriceRange(min, max) {
						var regex = /(^[1-9]\d*$)|0/;
						
						if ((min != ' ') && !(regex.test(min)) && (max != '') && !(regex.test(max))) {
							alert('价格必须为整数');
							return false;
						}  else if (parseInt(min) > parseInt(max)) {
							alert('最低价格不能高于最高价格');
							return false;
						} 
						return true;
					}
					
					// 设置价格
					function setPrice(min, max) { // 传递min和max（字符串）
						if (checkPriceRange(min, max)) {
							$("#minPrice").val(min);
							$("#maxPrice").val(max);
							// 提交表单
							$("#listForm").submit();
						}
					}
					
					// 设置某个字段的排序方式
					function setSort(field, isDesc) { // field 需要跟数据库字段名一致（否则，要在服务端转换）
						// 取反
						var type = isDesc ? 'asc' : 'desc';
						$('#sort').val(field + ' ' + type);
						// 提交表单
						$("#listForm").submit();
					}
				
				</script>
</body>
</html>
